body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.one {
    max-width: 75%;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin: 10px;  
}